$color-letra: #171717;
$color-border-bottom: #ccc;
$flexible: flex;
$centrado: center;
$automatico: auto;
$columna: column;
$separado: space-between;
$rollo: wrap;
$fila: row;
$poppin: 'Poppins', sans-serif;
$html-color: #E93E30;
$js-color: #F7E018;
$css-color: #299ED5;
$react-color: #292C33;
$vue-color: #67C770;
$boostrap-color: #563D7C;
$cero: 0;
$color-titulo-tag: #fff;
$negrita: bold;
