
$color-letra: #171717;
$solido: solid;
$flexible: flex;
$centrado: center;
$automatico: auto;
$columna: column;
$separado: space-between;
$maximo: max-content;
$rollo: wrap;
$fila: row;
$bloque: block;
$poppin: 'Poppins', sans-serif;
$html-color: #E93E30;
$js-color: #F7E018;
$css-color: #299ED5;
$react-color: #292C33;
$vue-color: #67C770;
$boostrap-color: #563D7C;
$cero: 0;
$color-titulo-tag: #fff;
$negrita: bold;
$color-negro: black;
$font-primary: Arial, sans-serif;
$color-primary-bg: #f4f4f4;
$color-white: #fff;
$color-link: #3498db;
$color-button: #4CAF50;
$color-button-hover: #45a049;
$box-shadow-standard: 0 2px 4px rgba(0,0,0,0.1);
$color-button-suscripcion: #8ca4ac;
$color-button-suscripcion-hover:#cbd6d7;
$color-bordes: #ccc;
$sombra-main: 0 2px 4px rgba(0,0,0,0.1);


