/* Base styles here */ 
* {
    margin: $cero;
    padding: $cero;
    box-sizing: border-box;
    color: $color-letra;
}
.container {
    display: $flexible;
    flex-direction: $columna;
    align-items: $centrado;
  }
  