/* Modificadores de color de fondo */

.tag--html {
    background-color: $html-color;
}

.tag--javascript {
    background-color: $js-color;
}

.tag--css {
    background-color: $css-color;
}

.tag--react {
    background-color: $react-color;
}

.tag--vue {
    background-color: $vue-color;
}

.tag--bootstrap{
    background-color: $boostrap-color;
}